@font-face {
    /* This loads the schoolbell font used in Teto 1, and assigns it to the
       family 'schoolbell' */
    font-family: schoolbell;
    src: url(schoolbell.ttf);
}

/*the div that contains the grid*/
div.mygrid {
    /* the div treats the list as a text element that gets centered */
    text-align: center;
}
/*the unordered list that contains the grid cells as list items */

div.mygrid ul {
    /* this makes the list behave like a text that can be centered */
    display: inline-block;
    /* this removes default padding a list seems to have */
    padding: 0;
    /* this removes bullets */
    list-style-type: none;
    /* this prevents the list to contain too many cells per row */
    max-width: 700px;
}
/* this selects list items in unordered lists within .mygrid tags */

.mygrid ul li {
    /* this makes list items behave like words/text */
    display: inline-block;
    /* this sets 40px padding/yohaku around each list item */
    padding: 40px 40px 40px 40px;
}
h1.title {
    color: #843e12;
    text-align: center;
    font-size: 50px;
    font-family: schoolbell;
}
