/* This LOADS the schoolbell font used in Teto 1, and assigns it to the
   family 'myschoolbell' ('give it a name') */
@font-face {
    font-family: myschoolbell;
    /* src stands for "source" and means the source file for the font. */
    src: url(schoolbell.ttf);
}

/* This LOADS the Japanese font used in Teto 1, and assigns it to the
   family 'apjapanese' ('give it a name') */
@font-face {
    font-family: apjapanese;
    /* src stands for "source" and means the source file for the font. */
    src: url(APJapanesefont.ttf);
}

/* Selects all tags with the "japanese" class. */
.japanese {
    font-family: apjapanese;
}

/* this selects ALL elements */
* {
    /* this uses the font we defined using @font-face above */
    font-family: myschoolbell;
}

/*the div that contains the grid*/
div.mygrid {
    /* the div treats the list as a text element that gets centered */
    text-align: center;
    display: block;
}

/*the unordered list that contains the grid cells as list items. ul stands for "unordered list" */
div.mygrid ul {
    /* this makes the list behave like a text that can be centered.行の中に文字を書くような表れ方をする。 */
    display: inline-block;
    /* this removes default padding a list seems to have.　Pddingは余白。余白を上下左右に別の幅で作りたいときは、上、右、下、左、の順に数字を入れていくとそれが余白の幅になる。 */
    padding: 0;
    /* this removes bullets */
    list-style-type: none;
    /* margin is the space AROUND the block, whereas padding is the space WITHIN the block */
    margin: 0px;
}

/* this selects list items in unordered lists within .mygrid tags */
.mygrid ul li {
    /* this makes list items behave like words/text */
    display: inline-block;
    /* this sets 40px padding/yohaku around each list item */
    padding: 40px 40px 40px 40px;
}

/* This selects every tag which has the class "twocolumn". We will give it less width to reduce
the number of columns. */
.twocolumn {
    /* this prevents the list to contain too many cells per row */
    max-width: 700px;
}

/* This selects every tag which has the class "threecolumn". We give a little more width to get three
columns */
.threecolumn {
    max-width: 900px;
}

.onecolumn {
    max-width: 700px;
    padding: 10px;
}

/* This selects the h1 tags that have a "title" class */
h1.title {
    color: #843e12;
    text-align: center;
    font-size: 50px;
    /* create space above the title */
    margin-top: 70px;
}
<<<<<<< HEAD
div.title {
    display: inline-block;
    padding: 40px 40px 40px 40px;
}
=======

>>>>>>> origin/master
