/* This loads the schoolbell font used in Teto 1, and assigns it to the
   family 'schoolbell' */
@font-face {
    font-family: schoolbell;
    src: url(schoolbell.ttf);
}

/*the div that contains the grid*/
div.mygrid {
    /* the div treats the list as a text element that gets centered */
    text-align: center;
}

/*the unordered list that contains the grid cells as list items. ul stands for "unordered list" */
div.mygrid ul {
    /* this makes the list behave like a text that can be centered.行の中に文字を書くような表れ方をする。 */
    display: inline-block;
    /* this removes default padding a list seems to have.　Pddingは余白。余白を上下左右に別の幅で作りたいときは、上、右、下、左、の順に数字を入れていくとそれが余白の幅になる。 */
    padding: 0;
    /* this removes bullets */
    list-style-type: none;
}

/* this selects list items in unordered lists within .mygrid tags */
.mygrid ul li {
    /* this makes list items behave like words/text */
    display: inline-block;
    /* this sets 40px padding/yohaku around each list item */
    padding: 40px 40px 40px 40px;
}

/* This selects every tag which has the class "twocolumn". We will give it less width to reduce
the number of columns. */
.twocolumn {
    /* this prevents the list to contain too many cells per row */
    max-width: 500px;
}

/* This selects every tag which has the class "threecolumn". We give a little more width to get three
columns */
.threecolumn {
    max-width: 700px;
}

/* This selects the h1 tags that have a "title" class */
h1.title {
    color: #843e12;
    text-align: center;
    font-size: 50px;
    font-family: schoolbell;
}
